:root {
    --background-color: #cdc9b0;
    --landscape-skillgrid-rowcount: 10;
    --portrait-skillgrid-rowcount: 6;
    --skills-divider-color: #9a905d;
    user-select: none;
}

@font-face {
    font-family: alien;
    src: url(../font/Alien-Encounters-Regular.ttf);
}

#portfoliocategory-grid {
    height: 100%;
    width: 100%;
    display: grid;
    align-content: flex-start;
    vertical-align: top;
}

#portfolio-content-inner {
    overflow-y: scroll;
    height: 100%;
    width: 100vw;
    padding-right: 17px;
    box-sizing: content-box;
    font-size: 100%;
}

@media only screen and (orientation: landscape) {
    #portfolio-content-inner {
        width: 100%;
    }
}

#portfoliocategory-label {
    font-family: alien;
    height: fit-content;
    width: 100%;
    margin-bottom: 1%;
    font-weight: bolder;
    font-size: clamp(140%, 4vw, 250%);
}

#portfolioentry-grid {
    height: fit-content;
    width: 98%;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto; /*This should have the same amount of columns as --portrait-skillgrid-rowcount*/
    align-content: start;
    align-items: end;
    vertical-align: top;
    column-gap: clamp(20px, 1vw, 50px);
    row-gap: 2vh;
    margin-block: 20px;
}

@media only screen and (orientation: landscape) {
    #portfolioentry-grid {
        grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto; /*This should have the same amount of columns as --landscape-skillgrid-rowcount*/
        margin-left: 2%;
    }
}

.portfolioentry-grid-divider {
    display: inline-grid;
    visibility: visible;
    align-self: center;
    border-left: 2px solid var(--skills-divider-color);
    margin-inline: 50%;
    width: 0px;
    height: 25px;
}

    /*The number in Xn must correspond to the --portraitskillgrid-rowcount variable to work properly*/
    .portfolioentry-grid-divider:nth-child(6n), .portfolioentry-grid-divider:last-child {
        visibility: hidden;
    }

@media only screen and (orientation: landscape) {
    .portfolioentry-grid-divider, .portfolioentry-grid-divider:nth-child(6n) {
        display: inline-grid;
        visibility: visible;
        align-self: center;
        border-left: 2px solid var(--skills-divider-color);
        margin-inline: 50%;
        width: 0px;
        height: 25px;
    }

        /*The number in Xn must correspond to the --landscape-skillgrid-rowcount variable to work properly*/
        .portfolioentry-grid-divider:nth-child(10n), .portfolioentry-grid-divider:last-child {
            visibility: hidden;
        }
}

.portfolio-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
    overflow: hidden; /* Ensure content within .portfolio-entry doesn't overflow */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.portfolio-entry:hover {
    transform: scale(1.02);
}

.portfolio-entry-image {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.portfolio-entry-label-background {
    content: ""; /* Ensure content is defined for the pseudo-element */
    position: absolute; /* Position the pseudo-element relative to its parent */
    bottom: 0; /* Position at the top of the image */
    left: 0; /* Position at the left of the image */
    height: 50%; /* Adjust the height as needed */
    width: 100%;
    background-color: #090909ba;
    transition: height 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
}

@media only screen and (orientation: landscape) {
    .portfolio-entry-label-background {
        height: 7vh;
    }
}

.portfolio-entry:hover .portfolio-entry-label-background {
    height: 100%;
    background-color: #090909ef;
}

.portfolio-entry-label {
    position: absolute;
    height: 100%; /* Adjusted height to make space for description */
    width: 90%; 
    color: var(--background-color);
    font-size: clamp(50%, 2vw, 110%);
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-inline: 5%;
    transition: align-items 0.3s, padding-top 0.3s;
}

@media only screen and (orientation: landscape) {
    .portfolio-entry-label {
        font-size: clamp(30%, 1vw, 120%);
    }
}

.portfolio-entry:hover .portfolio-entry-label {
    font-weight: bold;
    padding-top: 5%;
}

@media only screen and (orientation: landscape) {
    .portfolio-entry:hover .portfolio-entry-label {
        font-weight: bold;
        align-items: start;
        padding-top: 5%;
    }
}

.portfolio-entry-note {
    position: absolute;
    height: 100%; /* Adjusted height to make space for description */
    width: 90%;
    color: var(--background-color);
    font-size: 2vw;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    opacity: 0.75;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: start; /* Center vertically */
    padding-inline: 5%;
    padding-top: 10%;
    transition: align-items 0.3s, padding-top 0.3s;
}

@media only screen and (orientation: landscape) {
    .portfolio-entry-note {
        font-size: 1vw;
    }

    .portfolio-entry:hover .portfolio-entry-note {
        opacity: 0;
    }
}

    .portfolio-entry-description {
        opacity: 0;
        position: absolute;
        top: 50%; /* Position below the label */
        transform: translateY(-50%); /* Center vertically */
        width: 85%;
        color: var(--background-color);
        font-size: clamp(12px, 1.5vw, 20px);
        text-align: center;
        transition: opacity 0.0s, font-weight 0.3s;
    }

    @media only screen and (orientation: landscape) {
        .portfolio-entry:hover .portfolio-entry-description {
            opacity: 1;
            font-weight: normal;
            transition: opacity 2s, font-weight 0.3s;
        }
    }